.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
	grid-auto-fill: dense; /* by default, set to 'row'. 'Dense' fills in spaces with available smaller items that might be leter in selection order
							  Note: 'dense' is an example of "source order independence" - meaning can ignore markup & change order on-the-fly. */
}

.horizontal {
	/* grid-column: auto / span 2; - this class takes 2x the width, at whatever position that woould set them */
	grid-column: span 2; /* same behanvior as above line */
}

.vertical {
	grid-row: span 2;
}

.big {
	grid-column: span 2;
	grid-row: span 2;
}